@import url(https://fonts.googleapis.com/css?family=Halant:300,400,500,600,700&subset=devanagari,latin,latin-ext);

div.busy { 
  position:absolute;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  z-index: 999;
}

.body {
	padding-right: 0px;		
}

.modal-dialog {
	margin-left: auto;
	margin-right: auto;
}

# Set the font family for the whole page
/* #main_title { */
	/* margin-top: 300px */
/* } */
	
#main_subtitle	{
	/* margin-top: 300px; */
	margin-bottom: 50px
}
	
.navbar-default {
	padding-left: 10px;
	padding-right: 0px;
}


.lp-well {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px
}

.lp-main-well {
	padding-right: 0px;	
}

.lp-desc {
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	/* padding-bottom: 0px; */
}

.padded-page{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px
}


.navbar-fixed-top {
	padding-left: 10px;
	padding-right: 10px;
}	
	
.landing-page {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 70px;
}

.btn {
	margin-bottom: 15px;
	
}
	
.table {
  border: 1px solid #dddddd;
}

.ui-sortable {
	/* text-align: center; */
}

.well {
	background-color: #ffffff	
	}
	
.tab-content {
	min-height: calc(100vh - 140px)
}