@import url(https://fonts.googleapis.com/css?family=Halant:300,400,500,600,700&subset=devanagari,latin,latin-ext);

div.busy { 
  position:absolute;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  z-index: 999;
}


# Set the font family for the whole page
.container-fluid {
	font-family: 'Halant', serif;
	padding-left: 0px;
	padding-right: 0px;
	}
	
.navbar-default {
	padding-left: 10px;
	padding-right: 10px;
}	
	
.table {
  border: 1px solid #dddddd;
}

.ui-sortable {
	/* text-align: center; */
}